//import pages styles
@use '@styles/App.scss';
@use '@styles/Navbar.scss';
@use '@styles/Toggle.scss';
@use 'styles/Header.scss';
@use 'styles/VisualCode.scss';
//impot fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');


$principal-font: 'Poppins', sans-serif;
$dark-color-bg: rgba(13, 17, 23, 1);
$light-color-bg: #f5f9ff;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-decoration: none;
  font-family: $principal-font;
  cursor: default;
}


a{
  cursor: pointer;
}

.app__flex{
  display: flex;
  justify-content: center;
  align-items: center;
}

.font-degrade-color{
  background: rgb(179, 116, 248);
  background: linear-gradient(90deg, rgba(179, 116, 248, 1) 0%, rgba(76, 165, 255, 1) 100%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

h1{
  font-size: 60px;
}

h2{
  font-size: 60px;
}

.color__app{

  background-color: $dark-color-bg;
  color: #fff;

  a{
    color: #fff;
  }

  &.light{
    background-color: $light-color-bg;
    color: rgb(0, 0, 0);

    a{
      color: rgb(0, 0, 0);
    }
  }
  
  transition: all 0.3s ease-in-out;
}