@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: #181825;
  font-family: 'Poppins', sans-serif;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.home {
  background-image: url('../../public/stars.svg');
  width: 100%;
  height: 100vh;





  .header_layout {
    margin-top: 80px;
    display: grid;
    grid-auto-columns: 1fr;
    grid-column-gap: 3rem;
    grid-row-gap: 3rem;
    //-ms-grid-columns: 1.25fr 1fr;
    grid-template-columns: 1.25fr 1fr;
    //-ms-grid-rows: auto;
    grid-template-rows: auto;

    .div-header-layout {
      img {
        max-width: 482px !important;
        max-height: 439px !important;
      }
    }

    @media screen and (max-width: 991px) {
      min-height: auto;
      grid-auto-flow: row;
      grid-row-gap: 4rem;
      grid-template-columns: 1fr;

      .div-header-layout {
        text-align: center;

        img {
          width: 100%;
        }
      }
    }

    .header-p {
      color: #6966ff;
      font-size: .9rem;
      margin-bottom: 0;
      margin-top: 0;
      line-height: 1.8;
      font-weight: 600;
      letter-spacing: .08em;
      text-transform: uppercase;
    }

    h1 {
      margin-top: 0;
      margin-bottom: 0;
      line-height: 1.05;

      margin: 0;
      font-family: Circularxx, sans-serif;
      color: #fafafd;
      font-size: 3.5rem;
      font-weight: 700;
    }

    .paragraph-p {
      text-align: left;
      color: #c8c7d8;
      font-size: 1.125rem;
      margin-top: 10px;
      margin-bottom: 0;
    }
  }
}

.ball {
  display: grid;
  place-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 1px;

  background-color: rgba(105, 102, 255, .3);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  -webkit-box-align: center;
  align-items: center;
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.5rem;

  margin-top: 20px;

  @media screen and (max-width: 991px) {
    justify-content: center;
  }
}

.principal-button {
  display: inline-block;
  padding: 0.75rem 1.5rem;
  border: 1.5px solid #6966ff;
  border-radius: 0.5rem;
  background-color: rgba(105, 102, 255, .7);
  -webkit-transition: .2s;
  transition: .2s;
  color: #fafafd;
  text-align: center;

  line-height: inherit;
  text-decoration: none;
  cursor: pointer;
}

.secondary-button {
  padding: 0.5rem 1.25rem;
  border-style: solid;
  border-color: transparent;
  border-radius: 0.5rem;
  background-color: transparent;
  transition: .2s;
  color: #6966ff;
  font-weight: 500;

  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  grid-column-gap: 0.75rem;
  grid-row-gap: 0.75rem;
  text-align: center;
  //border: 1.5px solid #6966ff;
  text-decoration: inherit;
  font-size: inherit;
}

.container-large {
  margin-right: auto !important;
  margin-left: auto !important;
  padding-top: 7rem;
  padding-bottom: 7rem;
  padding-right: 5%;
  padding-left: 5%;

  width: 100%;
  max-width: 80rem;
}


header {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #18182590;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid #181825;
  position: fixed;
  z-index: 2;

  color: #fff;

  h2 {
    font-size: 2rem;
  }

  padding: 30px;
  padding-right: 5%;
  padding-left: 5%;

  nav {
    ul {
      display: flex;
      list-style: none;

      @media screen and (max-width: 991px) {
        display: none;
      }

      li {
        margin: 0 8px;
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
          font-size: 1rem;
          color: #fff;
        }

        span {
          display: inline-block;
          visibility: hidden;
          width: 100%;
          height: 3px;
          background-color: #6966ff;
          border-radius: 3px;
        }

        &:hover {
          span {
            visibility: visible;
          }


        }
      }
    }

    button {
      display: none;

      @media screen and (max-width: 991px) {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 8px;

        width: 50px;
        height: 50px;
        background-color: transparent;

        border: 2px solid #656565;
        border-radius: 5px;

        span {
          display: inline-block;
          width: 100%;
          height: 2.5px;
          background-color: #656565;
          ;
        }
      }
    }
  }
}